    <h2>Create an Event</h2>
    <p>Let's get this party started.</p>

    <form action='/create' method='POST'>
      <label for="name">Name:</label>
      <input type='text' name='name'/><br/>

      <label for="date">Date:</label>
      <input type="date" name='date' min="<%= Time.now %>"><br/>

      <label host="name">Host:</label>
      <input type='text' name='host'/><br/>

      <label for="email">Email:</label>
      <input type='text' name='email'/><br/>

      <label for="address">Address:</label>
      <input type='text' name='address'/><br/>

      <label for="description">Description:</label>
      <textarea name='description'></textarea><br/>

      <input type='submit' value="Create"/>
    </form>