<html>
  <head>
    <title>RSVPApp</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900" rel="stylesheet">  <body>
    <%== yield %>
  </body>
</html>